# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Raw data - too large for GitHub
data/raw/

# Trained model files - too large for GitHub
models/*.pt
models/*.pkl

# Jupyter checkpoints
.ipynb_checkpoints/

# MLflow tracking files
mlruns/

# VS Code settings
.vscode/

# Windows system files
Thumbs.db
desktop.ini

# Large data files
data/processed/*.npy
data/processed/*.pkl

notebooks/mlflow.db
mlruns/